<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= child.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= child.gender %>
  </p>

  <p>
    <strong>Caregiver:</strong>
    <%= child.caregiver_id %>
  </p>

</div>
