<div class="card" style="width: 100%;">
  <div class="card-header">
    <%= header %>
  </div>
  <ul class="list-group list-group-flush">
    <% items.each do |item| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><%= item[:name].html_safe %></span>
        <% if item[:edit_path] || item[:delete_path] %>
          <span class="d-flex">
            <% if item[:edit_path] %>
              <%= link_to(item[:edit_path], class: 'btn btn-sm btn-secondary') do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <% if item[:delete_path] %>
              <%= button_to(item[:delete_path], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-secondary ml-1') do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="card-footer">
    <%= link_to footer_text, footer_link, class: 'btn btn-primary' %>
  </div>
</div>
