<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid">
      <%= link_to (user_signed_in? ? authenticated_root_path : unauthenticated_root_path), class: 'navbar-brand' do %>
        <%= image_tag 'logos/logo_nav.png', alt: 'BiteBuddy Logo', class: 'd-inline-block align-top' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <% if user_signed_in? %>
          <ul class="navbar-nav">
            <% if session[:selected_child_id].present? %>
              <li class="nav-item">
                <%= link_to 'Meals', child_meals_path(session[:selected_child_id]), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Allergies', child_allergies_path(session[:selected_child_id]), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Analyses', child_analyses_path(session[:selected_child_id]), class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Meals', '#', class: 'nav-link', title: 'Select a child first' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Allergies', '#', class: 'nav-link', title: 'Select a child first' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Analyses', '#', class: 'nav-link', title: 'Select a child first' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to 'Foods', foods_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Children', children_path, class: 'nav-link' %>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <% if session[:selected_child_name].present? %>
              <li class="nav-item">
                <span class="navbar-text"> <%= session[:selected_child_name] %></span>
              </li>
            <% end %>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="childDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Child
              </a>
              <div class="dropdown-menu" aria-labelledby="childDropdown">
                <% @children.each do |child| %>
                  <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('select-child-form-<%= child.id %>').submit();">
                    <%= child.name %>
                  </a>
                  <%= form_with url: select_child_path, method: :post, id: "select-child-form-#{child.id}", style: "display: none;" do |form| %>
                    <%= form.hidden_field :child_id, value: child.id %>
                  <% end %>
                <% end %>
              </div>

            </li>
            <li class="nav-item">
              <%= link_to 'Edit', edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</div>
