<div id="<%= dom_id(analysis) %>">
  <p>
    <strong>Child:</strong>
    <%= analysis.child.name %>
  </p>

  <p>
    <strong>Meal:</strong>
    <%= analysis.meal.food.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= analysis.date %>
  </p>

  <p>
    <strong>Findings:</strong>
    <%= analysis.findings %>
  </p>

  <p>
    <strong>Recommendations:</strong>
    <%= analysis.recommendations %>
  </p>

  <p>
    <strong>Allergy:</strong>
    <%= analysis.allergy.description %>
  </p>

</div>
