<%= form_with(model: [@child, analysis], local: true) do |form| %>
  <% if analysis.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
        <% analysis.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :child_name, "Child Name", style: "display: block" %>
    <p><%= @child.name %></p>
  </div>

  <div>
    <%= form.label :time_frame, "Select Time Frame", style: "display: block" %>
    <%= form.select :time_frame, options_for_select([['2 Days', '2_days'], ['1 Week', '1_week'], ['2 Weeks', '2_weeks'], ['1 Month', '1_month']]), prompt: "Select a time frame" %>
  </div>
  
  <div>
    <%= form.label :findings, style: "display: block" %>
    <%= form.text_field :findings %>
  </div>

  <div>
    <%= form.label :recommendations, style: "display: block" %>
    <%= form.text_area :recommendations %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
