<%= form_with(model: [@child, analysis], local: true) do |form| %>
  <% if analysis.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
        <% analysis.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :child_name, "Child Name" %>
    <p class="form-control-plaintext"><%= @child.name %></p>
  </div>

  <div class="form-group">
    <%= form.label :time_frame, "Select Time Frame" %>
    <%= form.select :time_frame, options_for_select([['2 Days', '2_days'], ['1 Week', '1_week'], ['2 Weeks', '2_weeks'], ['1 Month', '1_month']]),
     { prompt: "Select a time frame" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :findings %>
    <%= form.text_field :findings, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :recommendations %>
    <%= form.text_area :recommendations, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Back to Details', details_child_path(@child), class: 'btn btn-secondary' %>
  </div>
<% end %>
