<div id="<%= dom_id food_log %>">
  <p>
    <strong>Food:</strong>
    <%= food_log.food_id %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= food_log.child_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= food_log.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= food_log.notes %>
  </p>

</div>
