<div id="<%= dom_id meal %>">
  <p>
    <strong>Food:</strong>
    <%= meal.food_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= meal.notes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= meal.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= meal.quantity %>
  </p>

</div>
