<h1>Meals for <%= @child.name %></h1>

<div id="meals">
  <% @meals.each do |meal| %>
    <p>
      Food: <%= meal.food.name %><br>
      Notes: <%= meal.notes %><br>
      Date: <%= meal.date %><br>
      Child: <%= @child.name %>
    </p>
    <p>
      <%= link_to "Show this meal", [@child, meal] %> |
      <%= link_to "Edit this meal", edit_child_meal_path(@child, meal) %> |
      <%= link_to "Delete this meal", [@child, meal], method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New meal", new_child_meal_path(@child) %>
