<div id="<%= dom_id allergy %>">
  <p>
    <strong>Description:</strong>
    <%= allergy.description %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= allergy.severity %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= allergy.child_id %>
  </p>

  <p>
    <strong>Detected date:</strong>
    <%= allergy.detected_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= allergy.notes %>
  </p>

</div>
