<%= form_with(model: [@child, @allergy], local: true) do |form| %>
  <% if @allergy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@allergy.errors.count, "error") %> prohibited this allergy from being saved:</h2>

      <ul>
        <% @allergy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.select :description,  options_for_select(allergy_descriptions), { prompt: "Select an allergy description" }, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :severity %>
    <%= form.select :severity, options_for_select(allergy_severities), { prompt: "Select severity" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :detected_date%>
    <%= form.date_field :detected_date, class: "form-contol" %>
  </div>

 <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>
<% end %>
