<h1>Allergies for <%= @child.name %></h1>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">

       <div class="mb-3 d-flex">
        <%= link_to "Last 2 Days", child_allergies_path(@child, q: { detected_date_gteq: 2.days.ago, detected_date_lteq: Time.current }), class: "btn btn-secondary flex-fill mr-2" %>
        <%= link_to "Last Week", child_allergies_path(@child, q: { detected_date_gteq: 1.week.ago, detected_date_lteq: Time.current }), class: "btn btn-secondary flex-fill mr-2" %>
        <%= link_to "Last 2 Weeks", child_allergies_path(@child, q: { detected_date_gteq: 2.weeks.ago, detected_date_lteq: Time.current }), class: "btn btn-secondary flex-fill mr-2" %>
        <%= link_to "Last Month", child_allergies_path(@child, q: { detected_date_gteq: 1.month.ago, detected_date_lteq: Time.current }), class: "btn btn-secondary flex-fill" %>
      </div>
      
      <%= render partial: 'shared/card', locals: {
          header: 'Allergies',
          items: @allergies.map { |allergy| item_card(allergy, allergy.description, @child) },
          footer_link: new_child_allergy_path(@child),
          footer_text: "Log New Allergy"
        }
      %>
      <%= paginate @allergies %>
    </div>
  </div>
</div>
