<p>
  <strong>Reaction:</strong>
  <%= @allergy.description %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @allergy.severity %>
</p>

<p>
  <strong>Detected Date:</strong>
  <%= @allergy.detected_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @allergy.notes %>
</p>

<p>
  <strong>Child:</strong>
  <%= @child.name %>
</p>

<div>
  <%= link_to "Edit this allergy", edit_child_allergy_path(@child, @allergy) %> |
  <%= link_to "Back to allergies", child_allergies_path(@child) %>
</div>
